@font-face {
  font-family: 'NanumGothic';
  src: url("assets/fonts/NanumGothic-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'NanumGothic';
  src: url("assets/fonts/NanumGothic-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'NanumGothic';
  src: url("assets/fonts/NanumGothic-ExtraBold.ttf");
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'NanumGothic';
  font-weight: 400;
  min-height: 100vh;
}

.header {
  border: 1px solid red;
}

.main {
  border: 1px solid red;
}

.footer {
  border: 1px solid red;
}
