:root {
  --dark-color: #738c77;
  --ligth-color: #c2f5ca;
  --bright-color: #38b94d;
}

@font-face {
  font-family: 'NanumGothic';
  src: url("assets/fonts/NanumGothic-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'NanumGothic';
  src: url("assets/fonts/NanumGothic-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'NanumGothic';
  src: url("assets/fonts/NanumGothic-ExtraBold.ttf");
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'NanumGothic';
  font-weight: 400;
  font-size: 24px;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:aliceblue;
}

.header {
  border: 1px solid red;
}

.main {
  border: 1px solid red;
}

.container-centered {
  margin: 0px auto;
  width: 1024px;
  background-color: #ffffff;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content:space-between;
  align-items: center;
}


.left-column {
  width: 40%;
  background-color:var(--bright-color);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-self: stretch;
}

.right-column {
  width: 60%;
 
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23)
}

.section h2 {
  color: var(--bright-color);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  margin: 50px;
}

.section-item {
  position: relative;
  padding-left: 30px;
}

.footer {
  border: 1px solid red;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0; 
  list-style-type: none;
  background-color:var(--dark-color);
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  transition: .3s;
}

.footer-links-list {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0; 
  list-style-type: none;
  background-color:var(--dark-color);
  text-decoration: none;
}

.footer-links-item {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  transition: .3s;
}