:root {
  --dark-gray-color: #505050;
  --ligth-gray-color: #777777;
  --pink-color: #ffd6d2;
}

@font-face {
  font-family: 'NanumGothic';
  src: url("assets/fonts/NanumGothic-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'NanumGothic';
  src: url("assets/fonts/NanumGothic-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'NanumGothic';
  src: url("assets/fonts/NanumGothic-ExtraBold.ttf");
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'NanumGothic';
  font-weight: 400;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border: 1px solid red;
}

.main {
  border: 1px solid red;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

.footer {
  border: 1px solid red;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0; 
  list-style-type: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  transition: .3s;
}