:root {
  --dark-color: #ddf0f2;
  --ligth-color: #c2f5ca;
  --bright-color: #476a63;
  --bright-color-2: #610f13;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:aliceblue;
}
.left-column-header {
  width: 40%;
  align-self: stretch;
  background: rgb(9, 167, 170);
  }
.right-column-header {
  width: 60%;
 }
.main {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}
.container-centered {
  margin: 0px auto;
  width: 1024px;
  background-color: #ffffff;
  box-shadow: 5px 40px 40px -1px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.left-column {
  width: 40%;
  background:linear-gradient(180deg, rgb(9, 167, 170) 1%, var(--bright-color) 100%);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-self: stretch;
  align-items:center;
}
.right-column {
  width: 60%;
  padding: 50px 20px 50px 100px;
}
.photo {
  padding: 50px;
}
#photo-image {
  cursor: crosshair;
}
#profile {
  height: 200px;
  padding: 50px 0px;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
}
.section h1 {
  color: black;
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
}
.section p {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
}
#contacts h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  margin: 20px 50px 30px 50px;
}
.contacts-list {
  padding: 10px 10px 10px 50px;
}
.contacts-item {
  font-size: 18px;
  color: var(--dark-color);
  padding: 5px 0px;
 }
.contacts-link {
  text-decoration: none;
  transition: .3s;
  color: var(--ligth-color);
  font-size: 20px;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.contacts-icon {
  margin: 0px 10px 0px 0px;
  height: 40px;
  transition: .3s;
}
.contacts-icon:hover {
  height: 45px;
}
.section h2 {
  color: var(--bright-color);
  font-weight: 700;
  font-size: 26px;
  margin: 50px 0 30px 0;
}
#profession-title {
  font-size: 24px;
  margin-top: 30px;
  color: blue;
  text-shadow: rgb(0, 255, 21) 2px 2px;
  font-style: italic;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 70%;
  text-align: justify;
}
.section-item {
  position: relative;
  padding-left: 30px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px; 
  list-style-type: none;
  background-color:var(--dark-color);
}
.nav-link {
  padding: 0 5px;
  line-height: 50px;
  text-decoration: none;
  transition: .3s;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  font-weight: 300;
}
.nav-link:hover {
  color: orange;
  text-shadow: yellow 2px 2px;
  font-size: 14.5px;
}
.nav-link a {
  font-size: 10px;
  color: aqua;
}
.section-item-code {
  position: relative;
  left: -350px; 
  background: #515e5b;
  padding: 0 10px 0 0;
  width:fit-content;
  margin: 5px;
}
.code {
  font-size: 20;
  font-weight: 300;
  white-space: pre;
  color: rgb(4, 252, 4);
}
.left-column-footer{
  width: 40%;
  background:var(--bright-color) ;
  align-self: stretch;
}
.right-column-footer{
  width: 60%;
}
.footer-links-list {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0; 
  list-style-type: none;
  background-color:var(--dark-color);
  text-decoration: none;
}
.footer-links-item {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  transition: .3s;
  display: flex;
}
.skills-item {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  padding-left: 30px;
  margin: 10px 0px;
}
.skills-item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0px;
  bottom: 3px;
  width: 10px;
  height: 10px; 
  border: 1px solid #829985;
  border-radius: 50%;

}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
